@model PokemonIndex.Models.PokedexViewModel

@{
    Layout = null;
}
<h2>Details</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pokemon.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PokemonTypes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EvolvesFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EvolvesTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pokemon.PokedexEntry)
        </th>
        <th></th>
    </tr>

        <tr>
            <td>
                @Html.DisplayFor(model => model.Pokemon.Name)
            </td>
            <td>
                @foreach (var item in Model.PokemonTypes)
                {
                    @Html.DisplayFor(modelItem => item.Type)
                }
            </td>
            <td>
                @Html.DisplayFor(model => model.EvolvesFrom.Name)
            </td>
            <td>
                @foreach (var item in Model.EvolvesTo)
                {
                    @Html.DisplayFor(modelItem => item.Name)
                }
            </td>
            <td>
                @Html.DisplayFor(model => model.Pokemon.PokedexEntry)
            </td>
        </tr>
</table>