@model IEnumerable<PokemonIndex.Models.Pokemon>
@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>
<form asp-controller="Pokedex" asp-action="Index">
    <p>
        Pokemon Name: <input type="text" name="id">
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PokemonId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PokedexEntry)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PokemonId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PokedexEntry)
            </td>

        </tr>

    }
</table>