@model IEnumerable<PokemonIndex.Models.PokedexViewModel>

@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>
<form asp-controller="Pokedex" asp-action="Index">
    <p>
        Pokemon Name: <input type="text" name="id">
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <tr>
        <th>
            Pokemon Id
        </th>
        <th>
            Pokemon Name
        </th>
        <th>
            Type
        </th>
        <th>
            Evolves From
        </th>
        <th>
            Evolves To
        </th>
        <th>
            Pokedex Entry
        </th>
        <th>
            Owned By
        </th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(model => item.Pokemon.PokemonId)
            </td>
            <td>
                @Html.DisplayFor(model => item.Pokemon.Name)
            </td>
            <td>
                @foreach (var typeItem in item.PokemonTypes)
                {
                    @Html.DisplayFor(modelItem => typeItem.Type)
                    <br />
                }
            </td>
            <td>
                @if (!String.IsNullOrEmpty(Html.DisplayFor(model => item.EvolvesFrom).ToString()))
                {
                    @Html.ActionLink(@Html.DisplayFor(model => item.EvolvesFrom.Name).ToString(), "Index", new { id = item.EvolvesFrom.Name })
                }
            </td>
            <td>
                @foreach (var evoItem in item.EvolvesTo)
                {
                    @Html.ActionLink(@Html.DisplayFor(modelItem => evoItem.Name).ToString(), "Index", new { id = evoItem.Name })
                    <br />
                }
            </td>
            <td>
                @Html.DisplayFor(model => item.Pokemon.PokedexEntry)
            </td>
            <td>
                @*@Html.DisplayFor(model => item.Pokemon.PokedexEntry)*@
            </td>
        </tr>
    }
</table>