@model PokemonIndex.Models.Gymformation
@{
    ViewBag.Title = "Index";
}

<h2>Gym Lookup</h2>
<p>Use this search tool to find gyms you want to know more about.</p>

<form asp-controller="Gym" asp-action="Index">
    <p>
        Gym Name: <input type="text" name="id">
        <input type="submit" value="Filter" />
    </p>
</form>

<h1>@Model.Gym.GymLocation</h1>
@foreach (var trainerEntry in Model.TrainerEntries)
{
    <h3>@trainerEntry.Trainer.TrainerName</h3>
    <table class="table">
        <tr>
            <th>
                Pokemon Id
            </th>
            <th>
                Pokemon Name
            </th>
            <th>
                Type
            </th>
            <th>
                Evolves From
            </th>
            <th>
                Evolves To
            </th>
            <th>
                Pokedex Entry
            </th>
            <th>
                Owned By
            </th>
        </tr>
        @*@model IEnumerable<PokemonIndex.Models.PokedexViewModel>*@

        @foreach (var item in trainerEntry.PokedexEntries)
        {

            <tr>
                <td>
                    @Html.DisplayFor(model => item.Pokemon.PokemonId)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Pokemon.Name)
                </td>
                <td>
                    @foreach (var typeItem in item.PokemonTypes)
                    {
                        @Html.DisplayFor(modelItem => typeItem.Type)
                        <br />
                    }
                </td>
                <td>
                    @if (!String.IsNullOrEmpty(Html.DisplayFor(model => item.EvolvesFrom).ToString()))
                    {
                        <a href="/Pokedex?id=@item.EvolvesFrom.Name">@Html.DisplayFor(model => item.EvolvesFrom.Name).ToString()</a>

                    }
                </td>
                <td>
                    @foreach (var evoItem in item.EvolvesTo)
                    {
                        <a href="/Pokedex?id=@evoItem.Name">@Html.DisplayFor(modelItem => evoItem.Name).ToString()</a>
                        <br />
                    }
                </td>
                <td>
                    @Html.DisplayFor(model => item.Pokemon.PokedexEntry)
                </td>
                <td>
                    @*@Html.DisplayFor(model => item.Pokemon.PokedexEntry)*@
                </td>
            </tr>
        }
    </table>
}

