@model PokemonIndex.Controllers.TrainerView
@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>

<table class="table-bordered">
    <tr>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Level
        </th>
        <th>
            Types
        </th>
        <th>
            Evolution
        </th>
    </tr>
    @foreach(var pokemon in Model.Pokemon)
    {
        <tr>
            <td>
                @pokemon.Id
            </td>
            <td>
                @pokemon.Name
            </td>
            <td>
                @pokemon.Description
            </td>
            <td>
                @pokemon.Level
            </td>
            <td>
                @foreach(var type in pokemon.Types)
                {
                    @type
                    <br>
                }
            </td>
            <td>
                @pokemon.Evolution
            </td>
        </tr>
    }
</table>